.newDebate {
  background-color: black;
  padding: 20px;
  text-align: center;
  color: #fff;
}

.container {
  width: 50%;
  height: 520px;
  
  border-radius: 10px;
  margin: 50px auto;
  border: 0.5em solid transparent;
  box-shadow: 0px 0px 15px #ffffff, inset 0px 0px 5px #ffffff;
}

.title {
  color: #fff;
  text-align: center;
  margin: 30px;
  font-size: 30px;
}

.formWrpper {
  width: 89%;
  height: 80%;
  box-sizing: border-box;
  margin: 60px auto;
  padding: 10px 20px; 
}

.formContext {
 display: flex; 
 align-items: center;
}

.label {
  font-size: 20px;
  width: 93px;
}


.input {
  font-size: 18px;
  width: 80%;
  height: 40px;
  color: #fff;
  box-sizing: border-box;
  background-color: black;
  border-width: 0 0 1px;
  padding: 10px;
  margin: 10px;
}

.buttonWrapper {
 width: 60%;
 margin: 10px auto;
 display: flex;
}


.buttonWrapper > button {
  display: flex;
  position: relative;
  margin: 30px auto;
  border-radius: 10px;
  color: #ffffff9a;
  background-color: transparent;
  width: 160px;
  height: 40px;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  font-size: 20px;
}

.buttonWrapper > button:hover{
  color: #ffffff;
}

.buttonWrapper > button::after {
  content: "";
  position: absolute;
  width: 10rem;
  height: 40px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: none;
  box-shadow: -4px -4px 5px #6937a1;
  transform: translate(0px, 0px);
  transition: transform 0.2s;
  border-radius: 10px;
}

.buttonWrapper > button::before {
  content: "";
  position: absolute;
  width: 10rem;
  height: 40px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: none;
  box-shadow: 4px 4px 5px #83dcb7;
  transform: translate(0px, 0px);
  transition: transform 0.2s;
  border-radius: 10px;
}
