body {
  background-color: black;
  display: flex;
  flex-direction: column; 
  align-items: center;
  min-height: 50vh;
  margin: 0;
}

*{
  font-family: 'Inter', sans-serif;
}

.container {
  align-items: center;
  justify-content: center;
  background-color: black;
  border-radius: 10px;
  margin: 15vh 0 0;
  width: 400px;
  height: 550px;
  border: 2px solid transparent;
  background-origin: border-box;
  border-image-source: linear-gradient(201.81deg, #F5765A 2.16%, #687FF7 100.33%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  border-image-slice: 1;
}

.image, .kakao-image {
  width: 100%;
}

.sub-title {
  text-align: center;
  color: #ffffff;
  font-size: 13px;
  margin: 0 0 10px;
}

.form {
  padding: 30px 40px;
}

.form-down {
  margin-top: 50px;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}
  
.form-control input {
  border: 1px solid #fff;
  background-color: black;
  border-radius: 5px;
  display: block;
  width: 94%;
  height: 20px;
  padding: 10px;
  font-size: 14px;
  color: #ffffff;
}

.form-control input:focus {
  outline: 0;
  border-color: #ffffff;
}

.form button {
  cursor: pointer;
  background-color: #91C5EB;
  color: #fff;
  display: block;
  font-size: 16px;
  padding: 10px;
  margin-top: 20px;
  width: 100%;
  border: none;
}
.login-signup {
  text-align: center;
  margin-top: 20px;

}

.login-signup-desc {
  font-size: 14px;
  
  color: #ffffff;
  margin-top: 80px;
  display:inline;
}

.login-signup-link {
  color: #67BFFF;
  text-decoration: none;
  display:inline;
  font-size: 14px;
  margin-left: 5px;

}